################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CNHTV/CopilotIndices/18.8.1096.64007
/.vs
