<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="info"
  internalLogFile="c:\temp\internal-nlog.txt"
>
  <extensions>
    <add assembly="NLog.Extensions.Logging" />
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Database" />
  </extensions>

  <targets>
    <target
      xsi:type="Database"
      name="database"
      dbProvider="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient"
      connectionString="${configsetting:item=BenchInspectorConfiguration.SystemDb}"
      async="true"
    >
      <commandText>
                INSERT INTO [dbo].[logs]
                    (ID, [Timestamp], EventId, [Level], Logger, [Message], call_site, Exception, Source)
                VALUES
                    (@ID, @Timestamp, @EventId, @Level, @Logger, @Message, @CallSite, @Exception, @Source)
            </commandText>

      <parameter name="@ID" layout="${guid}" dbType="Guid" />
      <parameter name="@Timestamp" layout="${date:format=o}" />
      <parameter name="@EventId" layout="${event-properties:item=EventId:whenEmpty=0}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter
        name="@CallSite"
        layout="${callsite:className=true:methodName=true:cleanNamesOfAnonymousDelegates=true}"
      />
      <parameter name="@Exception" layout="${exception:format=ToString}" />
      <parameter name="@Source" layout="BenchInspector" />
    </target>

    <target
      name="logfile"
      xsi:type="File"
      fileName="${basedir}/logs/${shortdate}.log"
      layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception}"
      maxArchiveFiles="30"
    />
    <target
      name="logconsole"
      xsi:type="Console"
      layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception}"
    />
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime*" minlevel="Info" writeTo="logconsole" final="true" />
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>
