<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="WebDAVClassic" />
      <add name="aspNetCore"
                  path="*"
                  verb="GET,HEAD,POST,PUT,DELETE,PATCH,OPTIONS"
                  modules="AspNetCoreModuleV2"
                  resourceType="Unspecified" />
      </handlers>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="OPTIONS" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="PUT" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>