.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  padding: var(--spacing-lg);
  padding-bottom: 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: var(--spacing-md);
}
